.howitworks {
  margin-top: 95px;

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #444;
  }

  &__wrapper {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 300px;
    // width: 31.91%;
    min-height: 400px;
    padding-top: 219px;
    padding-left: 25px;

    &:nth-child(1) {
      background: url("../images/howitworks/step-1.jpg") center center / cover
        no-repeat;
    }

    &:nth-child(2) {
      background: url("../images/howitworks/step-2.jpg") center center / cover
        no-repeat;
      padding-top: 250px;
    }

    &:nth-child(3) {
      background: url("../images/howitworks/step-3.jpg") center center / cover
        no-repeat;
    }
  }

  &__content {
    // width: 83.33%;
    width: 250px;
  }

  &__badge {
    padding: 5px 14px 3px 14px;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.2em;
    color: #fff;
    background-color: #ff4e50;
    text-transform: uppercase;
    border-radius: 40px;
    border: none;
    cursor: default;
  }

  &__subtitle {
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
  }

  &__description {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    color: #e3e3e3;
  }
}
