.partner {
  margin-top: 95px;

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #444;
  }

  &__wrapper {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    // position: relative;
    width: 221px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    position: relative;
  }

  &__round {
    position: absolute;
    top: 88px;
    left: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &_music {
      background-color: #ff4e50;
    }

    &_brush {
      background-color: #19d4ca;
    }

    &_camera {
      background-color: #ffa710;
    }

    &_airplane {
      background-color: #667df3;
    }
  }

  &__name {
    margin-top: 17px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #444;
  }

  &__text {
    margin-top: 12px;
    margin-bottom: 0;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #666;
  }

  &__btn {
    display: block;
    margin: 36px auto 0 auto;
    padding: 12px 19px 11px 24px;
    font-weight: 700;
    font-size: 14px;
    color: #ff4e50;
    background-color: #fff;
    border: 2px solid #ff4e50;
    border-radius: 40px;
  }
}
