@import "modern-normalize";

html {
  font-family: "Montserrat", "Roboto", sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

@import "promo";
@import "header";
@import "howitworks";
@import "partner";
